##### How to define a Dataframe:
- Firstly we define a Dictionary 
- Secondly we use pd.DataFrame() method

In [ ]:

person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people["email"]

In [ ]:
import pandas as pd

In [ ]:
# We can convert a Dict to DataFrame:
df1=pd.DataFrame(people)

In [ ]:
df1

In [ ]:
# We can access the column in DataFrame the same way as Dict
df1["email"]

In [ ]:
# Or 
df1.email

##### To access a row in a Dataframe we use:
- iloc => we use it to give integer arg.
- loc  => we use it to give a label arg.

In [ ]:
df1.iloc[1]

In [ ]:
# To access multiple rows 
df1.iloc[[1,2]]
# Notice we give the rows in a list

In [ ]:
# We can access a specific column in a row
df1.iloc[[1,2],2]

In [ ]:
# Using loc we access the rows with its label name
df1.loc[[1,2],"email"]

##### Lets apply loc and iloc on our real dataframe:

In [ ]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
# To know the columns name in the dataframe:
df.columns

In [28]:
df["Hobbyist"]

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [29]:
# We can access range of rows or columns
df.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time